<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-button size="large" defaultHref="" fill="clear"><ion-icon color="light" name="chevron-back-circle-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content color="primary" fullscreen="true" >
  <ion-toolbar color="primary" class="paddingtop">
    <ion-button  slot="start" size="large" (click)="BacktoHome()"  fill="clear"><ion-icon color="light" name="chevron-back-circle-outline"></ion-icon></ion-button>
    <ion-button  slot="end" size="large" (click)="logout()"  fill="clear"><ion-icon color="light" name="exit-outline"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-card class="card" color="primary" fullscreen="true">
    <ion-card-content>
      <div class="namebox">
        <ion-text>
          <h1>{{userDetails.name}}</h1>
        </ion-text>
      </div>
      <ion-grid class="listdetails">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-text>
            <h5>Investment type:</h5>
            </ion-text>
          </ion-col>
          <ion-col size="6" class="ion-text-left">
            <ion-text><h5><strong>{{userDetails.accounttype}}</strong></h5></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-text>
            <h5>Total Investment:</h5>
            </ion-text>
          </ion-col>
          <ion-col size="6" class="ion-text-left">
            <ion-text><h5><strong>{{userDetails.totalcontribution}}</strong></h5></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-text>
              <h5>Investor Manager:</h5>
            </ion-text>
          </ion-col>
          <ion-col size="6" class="ion-text-left">
            <ion-text><h5><strong>{{userDetails.managername}}</strong></h5></ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-button slot="start" size="large" expand="full" fill="clear" color="light"><ion-icon color="light" name="settings-outline"></ion-icon> <p class="settings">Settings</p></ion-button>
  </ion-toolbar>
</ion-footer>