.paddingtop {
    padding-top: 30px;
}
.settings {
    font-size: 17px;
    padding-left: 15px;
}
.card {
    box-shadow:none !important
}
.namebox {
    background-color: #646299;
    border-left: 6px solid #ffffff;
    padding: 5px 5px 5px 15px;
    margin-bottom: 30px;
}
ion-grid {
    --ion-grid-padding:0px;
}
ion-col{
    --ion-grid-column-padding:0;
}
.listdetails {
    h5 {
        font-size: 16px;
        padding-bottom: 10px;
    }
}